*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */
@import "partials/mobile/global.html";
@import "partials/mobile/1HOME/1header.html";
@import "partials/mobile/1HOME/2main-concerns.html";
@import "partials/mobile/1HOME/3about-me.html";
@import "partials/mobile/3CONTACT/contact.html";
/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */

/* TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET */
@media screen and (min-width:600px) and (orientation:landscape) {

@import "partials/tablet/global.html";
@import "partials/tablet/1HOME/1header.html";
@import "partials/tablet/1HOME/2main-concerns.html";
@import "partials/tablet/1HOME/3about-me.html";
@import "partials/tablet/3CONTACT/contact.html";

}
/* TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET */ 

/* DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP */
@media screen and (min-width:1024px) and (orientation:landscape) {

@import "partials/desktop/global.html";
@import "partials/desktop/1HOME/1header.html";
@import "partials/desktop/1HOME/2main-concerns.html";
@import "partials/desktop/1HOME/3about-me.html";
@import "partials/desktop/3CONTACT/contact.html";

}
/* DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP */
