@import "../colors";

/* scroll indicator arrow styling */
  #scroll-indicator-icon{
    position: fixed;
    bottom: 3.7vh;
    right: 2.7vw;
    transform: rotate(90deg);
    width: 6.2vw;
    user-select: none;
    animation: appear-popup 4s,
    backnforward 1s infinite;
    filter: $blackToBrightColor1;
    z-index: 9999;
  }@keyframes appear-popup {
    0% {opacity: 0;}
    75% {opacity: 0;}
    100% {opacity: 1;}
  }@keyframes backnforward{
    0% {transform: translate(0vw,-2vw);}
    50% {transform: translate(0vw,-0vw);}
    100% {transform: translate(0vw,-2vw);}
  }