@import "../colors";

/* footer icons styling */
  .linkedin-icon-link{
    width: 3.3vw;
  }.mail-icon-link{
    width: 4.1vw;
  }
  .linkedin-icon-link:hover, .mail-icon-link:hover{
    transform: rotate(-15deg);
    filter: $blackToBrightestColor;
  }