/* Projects page section configuring */
#projects__unique-section{
  padding-bottom: 30vh;
}

/* Projects page configuring */
.img-container{
  width: 70vw;
  row-gap: 20vh;
}

.img-project{
  width: 25vw;
}

#projects-text{
  width: 70vw;
}

.cont{
  width: 70vw;
  height: 100%;
  margin-top: 25vw;
}

.project-text{
  font-size: 3vw;
  width: 60vw;
}