@import "../../colors";
@import "../../extends";
@import "../../mixins";
@import "../../maps";
  
  /* Projects page configuring */
  .img-container{
    width: 65vw;
    row-gap: 0;
  }
  
  .img-project{
    width: 17vw;
    margin-top: 5vw;
  }

  #projects-text{
    width: 65vw;
    bottom: 10vh;
  }
  
  .cont{
    width: 65vw;
    height: 120vh;
    margin-top: 10vw;
  }
  
  .project-text{
    font-size: 2vw;
    width: 56vw;
  }
  
  .link-bbig:hover{
    background: linear-gradient(to right, $accentColor 0%, $brightestColor 50%, $accentColor 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
    animation: textShine 1s ease-in-out infinite alternate;
  }