@import "../colors";

// _________SCROLLBAR_________
::-webkit-scrollbar{
  -webkit-appearance: none;
  &:vertical{width: 11px;}
  &:horizontal{height: 11px;}
  &-thumb{
    border-radius: 8px;
    border: 2px solid $brightestColor;
    background-color: rgba(0, 0, 0, .5);
  }
  &-track{
    background-color: $brightestColor; 
    border-radius: 8px; 
  }
}

// _________FOOTER_________
/* footer icons styling */
.linkedin-icon-link{
  width: 5vw;
}.mail-icon-link{
  bottom: 14vh;
  left: 2vw;
  width: 6.2vw;
}

// _________SCROLL INDICATOR_________
/* scroll indicator arrow styling */
#scroll-indicator-icon{
  width: 4.2vw;
}

// _________TITLES AND SUBTITLES_________
/* [global] Section-title styling */
.title{
  font-size: 6.5vw;
}

/* [global] Section-subtitle styling */
.text-paragraph{
  font-size: 3vw;
  width: 70vw;
}