@import "../../colors";
@import "../../extends";
@import "../../mixins";
@import "../../maps";

/* Skill page section 1 styling */
  .skills__section1{
    @extend %gridHB100;
    grid-template-rows: 3fr 6fr 1fr;
    grid-template-areas:
    "titles"
    "skills"
    "nada";
    justify-content: map-get($mapEstilo, just-center);
  }
  
  /* Skill page configuring */
  
  #skills-text{
    grid-area: titles;
  }
  
  #skill-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 80vw;
    gap: 0vh;
    margin-top: 7vh;
    grid-area: skills;
  }
  
  .skills{
    width: 100%;
    height: 7px;
    background-color: $darkColor1;
    margin-top: 2vh;
    border-radius: 10px;
  }
  #skill1{
    width: 80%;
    height: 7px;
    background-color: $accentColor;
    z-index: 999999;
    animation-name: skill1;
    animation-duration: 2s;
    border-radius: 10px;
  }@keyframes skill1 {
    from {
      background-color: $brightColor1;
      width: 0%;
    }
    to {
      background-color: $accentColor;
      width: 80%;
    }
  }
  
  #skill2{
    @extend #skill1;
    width: 35%;
    animation-name: skill2;
  }@keyframes skill2 {
    from {
      background-color: $brightColor1;
      width: 0%;
    }
    to {
      background-color: $accentColor;
      width: 35%;
    }
  }
  
  #skill3{
    @extend #skill1;
    width: 15%;
    animation-name: skill3;
  }@keyframes skill3 {
    from {
      background-color: $brightColor1;
      width: 0%;
    }
    to {
      background-color: $accentColor;
      width: 15%;
    }
  }
  
  #skill4{
    @extend #skill1;
    width: 55%;
    animation-name: skill4;
  }@keyframes skill4 {
    from {
      background-color: $brightColor1;
      width: 0%;
    }
    to {
      background-color: $accentColor;
      width: 55%;
    }
  }
  
  .text-skill{
    color: $brightColor1;
    font-size: 3.5vh;
    width: 80vw;
    @extend %roboto500i;
    position: relative;
    top: 2vh;
  }
  
  #t-skill{
    margin-top: 13vh;
  }
