@import "../../colors";
@import "../../extends";
@import "../../mixins";
@import "../../maps";

/* Projects page section configuring */
  #projects__unique-section{
    @include heightWDP(100%, auto, flex, auto, $backgroundGradient, center, center);
    height: 100%;
    background: $backgroundGradient;
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
  }

  #projects-text{
    width: 80vw;
  }
  
  /* Projects page configuring */
  .img-container{
    @include heightWDP(100%, 80vw, grid, auto, auto, auto, center);
    margin-top: 1vw;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "project-bbig"
    "project-cocinarte";
    gap: 6vh;
  }
  
  .img-project{
    width: 35vw;
    border-radius: 100%;
    margin-top: 0vw;
    background-color: $darkestColor;
    padding: 1.5vw;
    position: relative;
    bottom: 12vw;
    animation-name: projectappear;
    animation-duration: 2s;
  }
  
  .cont{
    @include heightWDP(auto, 80vw, flex, auto, $darkestColor, auto, center);
    border-radius: 7vw;
    flex-direction: column;
    margin-top: 10vw;
  }
  
  #project-bbig{
    grid-area: project-bbig;
  }
  #project-cocinarte{
    grid-area: project-cocinarte;
  }
  
  .project-text{
    color: $brightColor1;
    font-size: 4vh;
    width: 70vw;
    text-align: center;
    position: relative;
    top: -11vw;
    @extend %roboto500i;
    animation-name: projectappear;
    animation-duration: 2s;
  }@keyframes projectappear{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .link-bbig:link{
    color: $accentColor;
  }
  
  .link-bbig:visited{
    color: $accentColor;
  }