@import "../../colors";

/* About page unique section configuring */
  .about__section1{
    height: 100%;
    background: $backgroundGradient;
    display: flex;
    justify-content: center;
  }
  
  #texta{
    margin-bottom: 16vh;
  }
  
  #about-title{
    margin-top: 16vh;
  }