@import "../../colors";
@import "../../extends";
@import "../../mixins";
@import "../../maps";

/* About page unique section configuring */
  .about__section1{
    @include heightWDP(100%, auto, flex, auto, $backgroundGradient, center, center);
    flex-direction: column;
  }
  
  #texta{
    margin-bottom: 16vh;
  }
  
  #about-title{
    margin-top: 16vh;
  }