@import "../../colors";
@import "../../extends";
@import "../../mixins";

/* About page unique section configuring */
  .about__section1{
    @extend %hw100;
    @include flexGradient;
    justify-content: center;
  }
  
  #texta{
    margin-bottom: 16vh;
  }
  
  #about-title{
    margin-top: 16vh;
  }