@import "../../colors";
@import "../../extends";
@import "../../mixins";
@import "../../maps";

/* Section 2 "About me" styling */
  #home__section2{
    @extend %flexHB100;
    justify-content: map-get($mapEstilo, just-center);
  }
  
  #home__section-2__titles{
    display: flex;
    flex-direction: column;
    @extend %center;
  }
  
  /* About-me subtitle styling */
  .subtitle2{
    color: $accentColor;
    font-size: 9.5vw;
    text-align: center;
    margin-top: 0;
  }
  
  #text2{
    position: relative;
    bottom: 0vh;
  }