@import "../../colors";

/* Projects page section configuring */
  #projects__unique-section{
    height: 100%;
    background: $backgroundGradient;
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
  }
  
  /* Projects page configuring */
  .img-container{
    margin-top: 1vw;
    width: 80vw;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "project-bbig"
    "project-cocinarte";
    align-items: center;
    gap: 6vh;
  }
  
  .img-project{
    width: 35vw;
    border-radius: 100%;
    margin-top: 0vw;
    background-color: $darkestColor;
    padding: 1.5vw;
    position: relative;
    bottom: 12vw;
    animation-name: projectappear;
    animation-duration: 2s;
  }
  
  .cont{
    background-color: $darkestColor;
    border-radius: 7vw;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vw;
  }
  
  #project-bbig{
    grid-area: project-bbig;
  }
  #project-cocinarte{
    grid-area: project-cocinarte;
  }
  
  .project-text{
    color: $brightColor1;
    font-size: 4vh;
    width: 70vw;
    text-align: center;
    position: relative;
    top: -11vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: italic;
    animation-name: projectappear;
    animation-duration: 2s;
  }@keyframes projectappear{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .link-bbig:link{
    color: $accentColor;
  }
  
  .link-bbig:visited{
    color: $accentColor;
  }