*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */
@import "partials/mobile/nav";
@import "partials/mobile/footer";
@import "partials/mobile/titles-subtitles";
@import "partials/mobile/scroll-indicator";
@import "partials/mobile/1HOME/1header";
@import "partials/mobile/1HOME/2main-concerns";
@import "partials/mobile/1HOME/3about-me";
@import "partials/mobile/2ABOUT/about";
@import "partials/mobile/3CONTACT/contact";
@import "partials/mobile/4PROJECTS/projects";
@import "partials/mobile/5SKILLS/skills";
/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */

/* TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET */
@media screen and (min-width:600px) and (orientation:landscape) {

@import "partials/tablet/nav";
@import "partials/tablet/footer";
@import "partials/tablet/titles-subtitles";
@import "partials/tablet/scroll-indicator";
@import "partials/tablet/1HOME/1header";
@import "partials/tablet/1HOME/2main-concerns";
@import "partials/tablet/1HOME/3about-me";
@import "partials/tablet/2ABOUT/about";
@import "partials/tablet/3CONTACT/contact";
@import "partials/tablet/4PROJECTS/projects";
@import "partials/tablet/5SKILLS/skills";

}
/* TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET TABLET */ 

/* DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP */
@media screen and (min-width:1024px) and (orientation:landscape) {

@import "partials/desktop/nav";
@import "partials/desktop/footer";
@import "partials/desktop/titles-subtitles";
@import "partials/desktop/scroll-indicator";
@import "partials/desktop/1HOME/1header";
@import "partials/desktop/1HOME/2main-concerns";
@import "partials/desktop/1HOME/3about-me";
@import "partials/desktop/2ABOUT/about";
@import "partials/desktop/3CONTACT/contact";
@import "partials/desktop/4PROJECTS/projects";
@import "partials/desktop/5SKILLS/skills";

}
/* DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP */
