#contact-title{
  margin-top: 8vh;
}

/* Contact page form text inputs styling */
.input{
  font-size: 1.5vw;
}
@import "../../colors";

#titlec{
  display: flex;
  justify-content: center;
}
/* Contact button configuring */
.btn{
  font-size: 1.5vw;
  width: 12vw;
  height: 3vw;
  margin-top: 0;
  border-width: 0.3vw;
  border-color: $accentColor;
  color: $accentColor;
}

#contact-cont{
  width: 70vw;
}